@charset "UTF-8";
/* ****************************
************** Root ***********
*******************************/
:root {
  --ls-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --ls-main-content-max-width: 840px;
  --ls-tag-text-opacity: 0.6;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 1em;
  --ls-page-title-size: 36px;
}

/* *****************************
********* Dark Theme ***********
*******************************/
.dark-theme,
html[data-theme=dark] {
  --ls-primary-background-color: rgb(47, 52, 55);
  --ls-secondary-background-color: rgb(55, 60, 63);
  --ls-tertiary-background-color: rgb(67, 72, 75);
  --ls-quaternary-background-color: rgb(148 158 164);
  --ls-table-tr-even-background-color: #0404061c;
  --ls-callout-background-color: rgba(69, 75, 78, 0.3);
  --ls-codeblock-background-color: #3f4447;
  --ls-active-primary-color: var(--ls-link-text-color);
  --ls-active-secondary-color: var(--ls-link-text-hover-color);
  --ls-block-properties-background-color: #2a2d2d;
  --ls-block-ref-link-text-color: #73d2f6;
  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #292323;
  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: rgb(255 255 255 / 90%);
  --ls-secondary-text-color: #dfdfdf;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-text-color: #f67373;
  --ls-link-text-hover-color: #f29191;
  --ls-alink-color: var(--ls-link-text-color);
  --ls-link-ref-text-color: #6fc2ef;
  --ls-link-ref-text-hover-color: #8cd2f8;
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --ls-tag-background-color: #407fab;
  --ls-tag-background-hover-color: #6fabd5;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #ffffff14;
  --ls-block-bullet-color: #ffffff1c;
  --ls-block-highlight-color: #fbfbfb23;
  --ls-selection-background-color: #ab3641;
  --ls-page-checkbox-color: #935c62;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-inline-code-color: #eb5757;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-properties-background-color: #adadad1c;
  --ls-scrollbar-foreground-color: rgba(192, 202, 223, 0.15);
  --ls-scrollbar-background-color: rgba(42, 46, 49, 0.9);
  --ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);
  --ls-head-text-color: #ffe27c;
  --ls-icon-color: var(--ls-quaternary-background-color);
  --ls-search-icon-color: var(--ls-quaternary-background-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: #3c041f;
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #632f46;
  --color-level-5: #865673;
  --color-level-6: #9e6889;
}

/* *****************************
********* White Theme ***********
*******************************/
.white-theme,
html[data-theme=light] {
  --ls-search-background-color: #fff;
  --ls-secondary-background-color: rgba(244, 245, 246);
  --ls-tertiary-background-color: rgb(240, 240, 241);
  --ls-quaternary-background-color: #e1e1e1;
  --ls-codeblock-background-color: #f7f6f3;
  --ls-table-tr-even-background-color: #f4f4f4;
  --ls-callout-background-color: rgba(235, 236, 237, 0.3);
  --ls-active-primary-color: rgb(64, 150, 213);
  --ls-active-secondary-color: rgb(46, 118, 170);
  --ls-block-properties-background-color: #f5f5f5;
  --ls-block-bullet-border-color: #dedede85;
  --ls-block-bullet-color: #494a4b21;
  --ls-guideline-color: rgba(62, 62, 63, 0.08);
  --ls-primary-text-color: #433f38;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-text-color: rgb(234, 110, 110);
  --ls-link-text-hover-color: #ac434c;
  --ls-link-ref-text-color: #3d88ce;
  --ls-link-ref-text-hover-color: #5d9cd6;
  --ls-alink-color: var(--ls-link-text-color);
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --ls-tag-background-color: #2883df;
  --ls-tag-background-hover-color: #84bdf4;
  --ls-icon-color: #c1bdb7;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-checkbox-color: #9dbbd8;
  --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
  --ls-page-properties-background-color: #adadad1c;
  --color-level-1: rgba(235, 236, 237, 0.3);
  --color-level-2: #f3f3f3;
  --color-level-3: #eaeaea;
  --color-level-4: #ddd;
}

/*****************************************
  This section is for global layout
  DO NOTHING TO COLOR DESIGN
*****************************************/
html.is-electron.is-mac .cp__header {
  height: calc(2.6rem + var(--frame-top-height));
}

.cp__sidebar-main-content {
  width: 100%;
}

#main-content-container .file {
  margin: 0 auto;
}

.CodeMirror .CodeMirror-sizer {
  min-width: unset !important;
}
.CodeMirror .CodeMirror-line {
  width: 0;
  /* Safari version */
  /* max-width: 70vw; */
}

/*****************************************
  Common Theme
*****************************************/
.cp__header .cp__header-logo,
.cp__header .fade-link {
  opacity: 0.6;
}
.cp__header a {
  color: var(--ls-primary-text-color);
}
.cp__header a[title="Go Back"],
.cp__header a[title="Go Forward"] {
  border-radius: 3px;
  opacity: 1;
  transition: 0.3s;
}
.cp__header #search #search-wrapper {
  opacity: 0;
  transition: 0.3s;
}
.cp__header #search #search-wrapper:hover,
.cp__header #search #search-wrapper:focus-within {
  opacity: 1;
}
.cp__header #search #search-wrapper > div:first-child {
  left: 10px;
}
.cp__header #search #search > .inner {
  max-width: 100%;
  border-radius: 4px;
}
.cp__header #search #search_field:focus {
  background: var(--ls-search-background-color);
}
.cp__header #search #ui__ac-inner {
  margin-top: -10px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.cp__header .cp__sidebar-left-menu {
  margin-right: unset;
}

.cp__right-sidebar {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.37, 0.16, 0.16, 0.99);
}
.cp__right-sidebar .sidebar-item {
  padding: 10px 20px 10px 2px;
  border: none;
  margin-bottom: 10px;
  border-radius: 4px;
}

#left-bar #repo-name {
  max-width: 16ch;
  opacity: 1;
}
#left-bar a.nav-item:hover {
  background-color: var(--ls-table-tr-even-background-color);
}

#main-content-container {
  padding: 1rem 2.5rem;
}
#main-content-container .journal .flex-row.foldable-title {
  margin-left: 10px;
}
#main-content-container .journal .flex-row.foldable-title h1.title:before {
  content: "🗓";
  vertical-align: text-bottom;
  margin-right: 0.3em;
  font-size: 0.75em;
}
#main-content-container .cp__sidebar-main-content h1.title {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 1rem;
}
#main-content-container .cp__sidebar-main-content:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
}

.content div[haschild=true] > div.flex-row {
  margin-bottom: 0.3rem;
}
.content .block-children {
  margin-bottom: 1em;
}
.content .block-properties {
  margin: 8px 0;
  padding: 10px 20px;
}
.content blockquote {
  background-color: unset;
}
.content .admonitionblock {
  padding: 16px 16px 16px 12px;
  background-color: var(--ls-callout-background-color);
  margin: unset;
}
.content .admonitionblock .text-lg {
  font-size: 0.9em;
  margin-left: 0;
  line-height: 1.35rem;
}
.content .admonitionblock .admonition-icon {
  padding-right: 0.65em;
  border: unset;
}
.content .admonitionblock .admonition-icon svg.svg-shadow {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}
.content .admonitionblock .admonition-icon svg.h-8.w-8 {
  width: 1.7em;
  height: 1.7em;
}
.content .admonitionblock .admonition-icon svg.important {
  color: #c75252;
}
.content .admonitionblock .admonition-icon svg.caution {
  color: #e08d5c;
}
.content .admonitionblock .admonition-icon svg.tip {
  color: #edc987;
}
.content .admonitionblock .admonition-icon svg.note {
  color: var(--ls-secondary-text-color);
}
.content ul,
.content ol {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content ul > li > p:first-child,
.content ol > li > p:first-child {
  display: inline;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.content a.tag {
  padding: 0px 7px;
  border-radius: 10px;
  margin: 2px 0px;
  color: var(--ls-tag-text-color);
  background-color: var(--ls-tag-background-color);
}
.content a.tag:hover {
  background-color: var(--ls-tag-background-hover-color);
}
.content .block-ref {
  padding: 2px 5px;
  border-radius: 3px;
  font-style: italic;
  color: var(--ls-primary-text-color);
}
.content .form-checkbox {
  border-radius: 2px;
  z-index: 1;
  position: relative;
}
.content .marker-switch {
  opacity: 0.7;
  font-weight: 700;
  transition: 0.3s;
  margin-left: -0.5em;
  margin-right: 5px;
  padding: 0 8px 0 6px;
  border-radius: 0 5px 5px 0;
}
.content :not(pre) > code {
  border-radius: 3px;
  font-size: 85%;
  font-family: MonoLisa, "Fira Code", Monaco, Menlo, Consolas, "COURIER NEW", monospace;
  padding: 0.2em 0.4em !important;
  color: #eb5757;
}

.tippy-wrapper {
  max-height: 40vh !important;
  max-width: 500px !important;
}

.ui__ac .ui__ac-group-name {
  font-weight: bolder;
}

@media screen and (max-width: 640px) {
  #head {
    position: fixed;
  }

  .cp__header .cursor.sync-status {
    padding: 5px;
  }
  .cp__header #search #ui__ac-inner {
    left: 0px;
    position: fixed;
    width: 100vw;
  }

  #main-content {
    padding-top: 34px;
  }
  #main-content #main-content-container {
    padding: 0 28px 16px 24px;
  }
}
/*****************************************
  White Theme
*****************************************/
.white-theme #left-bar nav > a,
.white-theme #left-bar svg {
  color: var(--ls-priamary-text-color);
}
.white-theme #left-bar #repo-name {
  opacity: 1;
}
.white-theme .content .external-link {
  border-bottom: 0.05em solid rgba(55, 53, 47, 0.25);
}
.white-theme .content .block-ref {
  background: rgba(40, 142, 111, 0.1);
  border-bottom-color: rgba(40, 142, 111, 0.3);
}
.white-theme .content .marker-switch {
  color: #504d47;
  background: #f3f2ed;
  opacity: 1;
}
.white-theme .content .marker-switch:hover {
  opacity: 0.7;
}

/*****************************************
  Dark Theme
*****************************************/
.dark-theme ::selection {
  background: var(--ls-block-highlight-color);
}
.dark-theme #main-content-container .cp__sidebar-main-content:before {
  background: linear-gradient(to bottom, rgba(24, 24, 24, 0.7) 0%, rgba(24, 24, 24, 0) 100%);
}
.dark-theme #left-bar .close-panel-btn {
  color: var(--ls-primary-text-color);
  opacity: 0.6;
}
.dark-theme .cp__header .cp__header-left-menu {
  color: var(--ls-primary-text-color);
  opacity: 0.6;
}
.dark-theme .cp__right-sidebar .cp__right-sidebar-settings a {
  color: var(--ls-secondary-text-color);
  opacity: 0.8;
}
.dark-theme .content a.tag {
  opacity: 0.83;
}
.dark-theme .content a.tag:hover {
  opacity: 1;
}
.dark-theme .content b,
.dark-theme .content strong {
  font-weight: bolder;
  color: #fff;
}
.dark-theme .content mark {
  background: #59563b;
  color: var(--ls-primary-text-color);
}
.dark-theme .content .external-link {
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.4);
}
.dark-theme .content .block-ref {
  background: #1f535878;
  border-bottom-color: #53d2d280;
}
.dark-theme .content .marker-switch {
  color: #b5a7a7;
  background: #52373a;
}
.dark-theme .content .marker-switch:hover {
  background: #5d3e41;
}

/*****************************************
  Code Mirror
*****************************************/
.cm-s-solarized,
.cm-s-solarized.cm-s-dark {
  background-color: var(--ls-codeblock-background-color);
  text-shadow: unset;
}
.cm-s-solarized.CodeMirror,
.cm-s-solarized.cm-s-dark.CodeMirror {
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.cm-s-solarized .CodeMirror-gutters,
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: var(--ls-codeblock-background-color);
}
.cm-s-solarized .CodeMirror-linenumber,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
  text-shadow: unset;
}

/* theme general */
.extensions__code .extensions__code-lang {
  background-color: var(--ls-codeblock-background-color);
  margin-right: 5px;
}
.extensions__code textarea {
  color: var(--ls-primary-text-color);
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror {
  color: var(--ls-secondary-text-color);
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px 10px 24px 20px;
}
.extensions__code .CodeMirror .CodeMirror-gutters {
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-cursors .CodeMirror-cursor {
  border-left: solid thin #82aaff;
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-code {
  outline: 0;
  font-size: 0.85em;
}

.white-theme .cp__right-sidebar .CodeMirror,
.white-theme .cp__right-sidebar .CodeMirror-gutters,
.white-theme .cp__right-sidebar .extensions__code-lang {
  background-color: rgba(242, 241, 238, 0.95);
}

/* IMPORTANT
  Replace scrollbar to fix incomplete code scrolling
  This strategy will also make line number scroll
  It'll be deprecated if Logseq fix the code scolling issue
*/
.extensions__code .CodeMirror {
  background-color: unset;
  padding: 0;
}
.extensions__code .CodeMirror .CodeMirror-gutters {
  width: 0;
}
.extensions__code .CodeMirror .CodeMirror-sizer {
  min-width: unset !important;
  padding: 0 !important;
  margin: 0 !important;
}
.extensions__code .CodeMirror .CodeMirror-hscrollbar {
  visibility: hidden;
}
.extensions__code .CodeMirror ::-webkit-scrollbar {
  background-color: #3f4447;
}
.extensions__code .CodeMirror .CodeMirror-lines {
  overflow-x: scroll;
  padding: 25px 8px 16px 40px;
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror .CodeMirror-lines span[role=presentation] {
  padding-right: 20px !important;
}
.extensions__code .CodeMirror .CodeMirror-lines .CodeMirror-code .CodeMirror-gutter-wrapper {
  left: -32px !important;
}

.white-theme .extensions__code .CodeMirror ::-webkit-scrollbar {
  background-color: #f7f6f3;
}

/* Rewrite .cm-s-solarized */
.cm-s-solarized .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
.cm-s-solarized span.cm-comment {
  color: #a0a0a0;
}
.cm-s-solarized span.cm-string,
.cm-s-solarized span.cm-string-2 {
  color: #e6c963;
}
.cm-s-solarized span.cm-number {
  color: #978ade;
}
.cm-s-solarized span.cm-variable {
  color: #82aaff;
}
.cm-s-solarized span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}
.cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}
.cm-s-solarized span.cm-operator {
  color: #f15f60;
}
.cm-s-solarized span.cm-keyword {
  color: #f15f60;
}
.cm-s-solarized span.cm-atom {
  color: #978ade;
}
.cm-s-solarized span.cm-meta {
  color: white;
}
.cm-s-solarized span.cm-tag {
  color: #f07178;
}
.cm-s-solarized span.cm-attribute {
  color: #c792ea;
}
.cm-s-solarized span.cm-qualifier {
  color: #41b394;
}
.cm-s-solarized span.cm-property {
  color: #9bd174;
}
.cm-s-solarized span.cm-builtin {
  color: #45add6;
}
.cm-s-solarized span.cm-variable-3,
.cm-s-solarized span.cm-type {
  color: orange;
}

.white-theme .cm-s-solarized .CodeMirror-selected {
  background-color: rgba(168, 175, 255, 0.2);
}
.white-theme .cm-s-solarized span.cm-string,
.white-theme .cm-s-solarized span.cm-string-2 {
  color: orange;
}
.white-theme .cm-s-solarized span.cm-variable-2 {
  color: rgba(0, 0, 0, 0.7);
}
.white-theme .cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}
.white-theme .cm-s-solarized span.cm-meta {
  color: var(--ls-secondary-text-color);
}

/* Old Version */
.white-theme .cm-s-default.CodeMirror,
.white-theme .cm-s-default .CodeMirror-gutters {
  color: black !important;
  border: none;
}

.cm-s-default .CodeMirror-cursor {
  border-left: solid thin white;
}

.white-theme .cm-s-default .CodeMirror-cursor {
  border-left: solid thin black;
}

.cm-s-default .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.white-theme .cm-s-default .CodeMirror-selected {
  background: rgba(0, 0, 0, 0.1);
}

.cm-s-default .CodeMirror-line {
  box-shadow: none;
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default span.cm-comment {
  color: #a0a0a0;
}

.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
  color: #e6c963;
}

.white-theme .cm-s-default span.cm-string,
.white-theme .cm-s-default span.cm-string-2 {
  color: orange;
}

.cm-s-default span.cm-number {
  color: #978ade;
}

.cm-s-default span.cm-variable {
  color: #82aaff;
}

.cm-s-default span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}

.white-theme .cm-s-default span.cm-variable-2 {
  color: rgba(0, 0, 0, 0.7);
}

.cm-s-default span.cm-def {
  color: #fff;
}

.white-theme .cm-s-default span.cm-def {
  color: black;
}

.cm-s-default span.cm-operator {
  color: #f15f60;
}

.cm-s-default span.cm-keyword {
  color: #f15f60;
}

.cm-s-default span.cm-atom {
  color: #978ade;
}

.cm-s-default span.cm-meta {
  color: white;
}

.white-theme .cm-s-default span.cm-meta {
  color: black;
}

.cm-s-default span.cm-tag {
  color: #f07178;
}

.cm-s-default span.cm-attribute {
  color: #c792ea;
}

.cm-s-default span.cm-qualifier {
  color: #41b394;
}

.cm-s-default span.cm-property {
  color: #9bd174;
}

.cm-s-default span.cm-builtin {
  color: #45add6;
}

.cm-s-default span.cm-variable-3,
.cm-s-default span.cm-type {
  color: orange;
}

.cm-s-default .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

#right-sidebar pre.CodeMirror-line {
  background: transparent;
}
