/*****************************************
  Code Mirror
*****************************************/

// unset solarized
.cm-s-solarized,
.cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
  background-color: var(--bf-codeblock-background-color);
  text-shadow: unset;

  &.CodeMirror {
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
  }

  .CodeMirror-gutters {
    background-color: var(--bf-codeblock-background-color);
  }

  .CodeMirror-linenumber {
    text-shadow: unset;
  }
}


/* With accent */

// line number in custom accent
.cm-s-lsradix.cm-s-light,
.cm-s-lsradix.cm-s-dark {
  .CodeMirror-gutters {
    background-color: inherit;
  }
}

/* theme general */

.extensions__code {
  display: block;
  background-color: var(--bf-codeblock-background-color); // calculator result
  border-radius: 0.25rem; // with .CodeMirror

  .code-editor {
    margin: 0.5rem 0;
  }

  .extensions__code-lang {
    margin-right: 7px;
    margin-top: 7px;
    padding: unset;
    background-color: unset;
    opacity: 0.6;
  }

  textarea {
    color: var(--ls-primary-text-color);
    background-color: var(--bf-codeblock-background-color);
  }

  .CodeMirror {
    color: var(--ls-secondary-text-color);
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0px 10px 0px 20px;
    border-radius: 0.25rem;

    .CodeMirror-sizer .CodeMirror-lines {
      .CodeMirror-cursors .CodeMirror-cursor {
        border-left: solid thin #82aaff;
      }
    }
  }
}

/* Missing properties in Logseq v0.7.x */
.CodeMirror-lines {
  padding: 4px 0; // rewrite in case of future changes
}

.CodeMirror-scroll {
  padding-top: 18px; // rewrite in case of future changes
  padding-bottom: 66px;
}

.extensions__code-calc {
  padding-top: 22px; // Code-Mirror-lines(4px) + Code-Mirror-scroll(18px)
  padding-right: 22px;
}

/* Right side bar */
.white-theme {
  .cp__right-sidebar {
    .CodeMirror,
    .CodeMirror-gutters,
    .extensions__code-lang {
      background-color: rgba(242, 241, 238, 0.95);
    }
  }
}

/* Rewrite .cm-s-solarized */
/* Syntax colors */

.cm-s-solarized {
  // Common & Dark

  .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: rgb(91, 223, 223) !important;
  }

  span.cm-comment {
    color: #a0a0a0;
  }

  span.cm-string,
  span.cm-string-2 {
    color: #e6c963;
  }

  span.cm-number {
    color: #978ade;
  }

  span.cm-variable {
    color: #82aaff;
  }

  span.cm-variable-2 {
    color: rgba(255, 255, 255, 0.7);
  }

  span.cm-def {
    color: var(--ls-secondary-text-color);
  }

  span.cm-operator {
    color: #f15f60;
  }

  span.cm-keyword {
    color: #f15f60;
  }

  span.cm-atom {
    color: #978ade;
  }

  span.cm-meta {
    color: white;
  }

  span.cm-tag {
    color: #f07178;
  }

  span.cm-attribute {
    color: #c792ea;
  }

  span.cm-qualifier {
    color: #41b394;
  }

  span.cm-property {
    color: #9bd174;
  }

  span.cm-builtin {
    color: #45add6;
  }

  span.cm-variable-3,
  span.cm-type {
    color: orange;
  }
}

.white-theme .cm-s-solarized {
  span.cm-string,
  span.cm-string-2 {
    color: orange;
  }

  span.cm-variable-2 {
    color: rgba(0, 0, 0, 0.7);
  }

  span.cm-def {
    color: var(--ls-secondary-text-color);
  }

  span.cm-meta {
    color: var(--ls-secondary-text-color);
  }
}

/* Active line */
.dark-theme .cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
  .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.1);
  }
  .CodeMirror-linenumber {
    color: #586375;
  }
}

.white-theme .cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-light {
  .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.05);
  }
}

/* Selection */
.dark-theme {
  .cm-s-solarized.cm-s-dark div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1);
  }

  .cm-s-solarized.cm-s-dark.CodeMirror ::selection {
    background: rgba(255, 255, 255, 0.1);
  }

  .cm-s-solarized.cm-s-dark .CodeMirror-line::-moz-selection,
  .cm-s-dark .CodeMirror-line > span::-moz-selection,
  .cm-s-dark .CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
  }

  // Switch from white theme
  .cm-s-solarized.cm-s-light div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1);
  }
  .cm-s-solarized.cm-s-light .CodeMirror-line::selection,
  .cm-s-light .CodeMirror-line > span::selection,
  .cm-s-light .CodeMirror-line > span > span::selection {
    background: rgba(255, 255, 255, 0.1);
  }
  .cm-s-solarized.cm-s-light .CodeMirror-line::-moz-selection,
  .cm-s-light .CodeMirror-line > span::-moz-selection,
  .cm-s-light .CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
  }
}

.white-theme {
  .cm-s-solarized.cm-s-light div.CodeMirror-selected {
    background: rgba(168, 175, 255, 0.2);
  }
  .cm-s-solarized.cm-s-light .CodeMirror-line::selection,
  .cm-s-light .CodeMirror-line > span::selection,
  .cm-s-light .CodeMirror-line > span > span::selection {
    background: rgba(168, 175, 255, 0.2);
  }
  .cm-s-solarized.cm-s-light .CodeMirror-line::-moz-selection,
  .cm-s-light .CodeMirror-line > span::-moz-selection,
  .cm-s-light .CodeMirror-line > span > span::-moz-selection {
    background: rgba(168, 175, 255, 0.2);
  }

  // Switch from dark theme
  .cm-s-solarized.cm-s-dark div.CodeMirror-selected {
    background: rgba(168, 175, 255, 0.2);
  }

  .cm-s-solarized.cm-s-dark.CodeMirror ::selection {
    background: rgba(168, 175, 255, 0.2);
  }

  .cm-s-solarized.cm-s-dark .CodeMirror-line::-moz-selection,
  .cm-s-dark .CodeMirror-line > span::-moz-selection,
  .cm-s-dark .CodeMirror-line > span > span::-moz-selection {
    background: rgba(168, 175, 255, 0.2);
  }
}

/* Old Version */
/*
.white-theme .cm-s-default.CodeMirror,
.white-theme .cm-s-default .CodeMirror-gutters {
  color: black !important;
  border: none;
}

.cm-s-default .CodeMirror-cursor {
  border-left: solid thin white;
}

.white-theme .cm-s-default .CodeMirror-cursor {
  border-left: solid thin black;
}

.cm-s-default .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.white-theme .cm-s-default .CodeMirror-selected {
  background: rgba(0, 0, 0, 0.1);
}

.cm-s-default .CodeMirror-line {
  box-shadow: none;
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default span.cm-comment {
  color: #a0a0a0;
}

.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
  color: #e6c963;
}

.white-theme .cm-s-default span.cm-string,
.white-theme .cm-s-default span.cm-string-2 {
  color: orange;
}

.cm-s-default span.cm-number {
  color: #978ade;
}

.cm-s-default span.cm-variable {
  color: #82aaff;
}

.cm-s-default span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}

.white-theme .cm-s-default span.cm-variable-2 {
  color: rgba(0, 0, 0, 0.7);
}

.cm-s-default span.cm-def {
  color: #fff;
}

.white-theme .cm-s-default span.cm-def {
  color: black;
}

.cm-s-default span.cm-operator {
  color: #f15f60;
}

.cm-s-default span.cm-keyword {
  color: #f15f60;
}

.cm-s-default span.cm-atom {
  color: #978ade;
}

.cm-s-default span.cm-meta {
  color: white;
}

.white-theme .cm-s-default span.cm-meta {
  color: black;
}

.cm-s-default span.cm-tag {
  color: #f07178;
}

.cm-s-default span.cm-attribute {
  color: #c792ea;
}

.cm-s-default span.cm-qualifier {
  color: #41b394;
}

.cm-s-default span.cm-property {
  color: #9bd174;
}

.cm-s-default span.cm-builtin {
  color: #45add6;
}

.cm-s-default span.cm-variable-3,
.cm-s-default span.cm-type {
  color: orange;
}

.cm-s-default .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: rgb(91, 223, 223) !important;
}

#right-sidebar pre.CodeMirror-line {
  background: transparent;
}
*/
