// https://leonardocolor.io/scales.html
// see palette

$blue_dark1: #afd6ff;   // (fixed)
$blue_dark2: #99ccfd; 
$blue_dark3: #6cbcfa;   // text (fixed)
$blue_dark4: #61adea;
$blue_dark5: #549cd9;   // checkbox (fixed)
$blue_dark6: #4490d0;
$blue_dark7: #2f82c6;   // tag before opacity 0.8 (fixed)

$blue_light1: #8fc3ff;
$blue_light2: #7cb4f4;  // checkbox (fixed)
$blue_light3: #5c9de7;
$blue_light4: #3e8adc;  // text (fixed)
$blue_light5: #2582ec;  // tag before opacity 0.8 (fixed)
$blue_light6: #1e79de;
$blue_light7: #106bc6;  // (fixed)

/* ****************************
************** Root ***********
*******************************/

:root {
  --ls-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  // --ls-main-content-max-width: 840px;
  --ls-tag-text-opacity: 0.6;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 1em;
  --ls-page-title-size: 36px;
  
  --rx-logseq-01: #fff;
  --rx-logseq-02: #ecf3fd;
  --rx-logseq-03: #d7e7fe;
  --rx-logseq-04: #c0dbfd;
  --rx-logseq-05: #a8cffd;
  --rx-logseq-06: #{$blue_light1};
  --rx-logseq-07: #{$blue_light2};
  --rx-logseq-08: #{$blue_light3};
  --rx-logseq-09: #{$blue_light4};
  --rx-logseq-10: #{$blue_light5};
  --rx-logseq-11: #{$blue_light6};
  --rx-logseq-12: $blue_light7;
}

html.dark, html[data-theme=dark] {
  --rx-logseq-01: #0e4d8b;
  --rx-logseq-02: #1b5fa0;
  --rx-logseq-03: #2670b3;
  --rx-logseq-04: #{$blue_dark7};
  --rx-logseq-05: #{$blue_dark6};
  --rx-logseq-06: #{$blue_dark5};
  --rx-logseq-07: #{$blue_dark4};
  --rx-logseq-08: #{$blue_dark3};
  --rx-logseq-09: #{$blue_dark2};
  --rx-logseq-10: #{$blue_dark1};
  --rx-logseq-11: #{$blue_dark4};
  --rx-logseq-12: #d1e6fe;
}

/* *****************************
********* Dark Theme ***********
*******************************/

.dark-theme,
html[data-theme="dark"] {
  // main text
  --ls-primary-text-color: #cecece;
  --ls-secondary-text-color: #bbb;

  // main background (linear gradient)
  --ls-primary-background-color: #202124;
  --ls-secondary-background-color: #27282c;
  --ls-tertiary-background-color: #303235;
  --ls-quaternary-background-color: #36383b;
  --ls-left-sidebar-background-color: var(--ls-secondary-background-color); // fix bug in logseq v0.10.0 mobile view.

  // block bg (hue 232)
  --ls-page-properties-background-color: var(--ls-secondary-background-color);
  --ls-block-properties-background-color: var(--ls-page-properties-background-color);
  --ls-callout-background-color: var(--ls-page-properties-background-color);
  --bf-codeblock-background-color: #313238;
  --ls-table-tr-even-background-color: #adaeb81c;

  // borders
  --ls-border-color: #3f3f3f;
  --ls-secondary-border-color: #505255;

  // accent color (link, hover)
  --ls-link-ref-text-color: #{$blue_dark3};
  --ls-link-ref-text-hover-color: #{$blue_dark2};
  --ls-active-primary-color: var(--ls-link-ref-text-color);
  --ls-active-secondary-color: #{$blue_dark5};
  --ls-block-ref-link-text-color: #{$blue_dark4};
  --bf-external-link-color: #f67373;
  --bf-external-link-hover-color: #f29191;
  --ls-link-text-color: var(--ls-link-ref-text-color);
  --ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);
  --ls-alink-color: var(--ls-link-text-color);
  --ls-cloze-text-color: var(--ls-link-ref-text-color);

  // tags
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --bf-tag-background-color: #{$blue_dark7};
  --bf-tag-background-hover-color: #{$blue_dark6};

  // query builder
  --bf-query-clause-border-color: #{$blue_dark7};
  --bf-query-clause-background-color: #2f82c615;
  --bf-query-clause-background-hover-color: #2f82c633;

  // guildline
  --ls-block-bullet-border-color: #ffffff14;
  --ls-block-bullet-color: #ffffff25;
  --ls-guideline-color: #ffffff14;

  // markdown content
  --ls-page-checkbox-color: #{$blue_dark5};
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-inline-code-color: #eb5757;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --bf-strong-text-color: #d8d8d8;
  --ls-selection-background-color: #3e3e41;
  --ls-block-highlight-color: #3e3e41;

  // ui
  --ls-icon-color: #767676;
  --ls-search-icon-color: var(--ls-quaternary-background-color);
  --ls-header-button-text-color: #767676;
  --ls-header-button-text-color-hover: var(--ls-primary-text-color);
  --ls-header-button-background: var(--ls-secondary-background-color);
  --ls-left-sidebar-text-color: var(--ls-primary-text-color);
  --ls-button-background-hsl: 207 60% 54%; // $blue_dark6
  
  // ui --ls-menu-chosen-color
  --ls-a-chosen-bg: var(--ls-table-tr-even-background-color); // --ls-menu-hover-color

  // ui - scrollbar
  --ls-scrollbar-foreground-color: #8a8a8a3d;
  --ls-scrollbar-background-color: #fff0;
  --bf-scrollbar-thumb-hover-color: #8a8a8a61;

  // misc
  --ls-title-text-color: var(--ls-primary-text-color);

  --ls-menu-hover-color: #36383b;
  --ls-slide-background-color: var(--ls-primary-background-color);

  --ls-head-text-color: #ffe27c;

  // right sidebar, cmdk, and accent color-level-4……
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #4c4e58;

  // Not in default theme.
  --ls-block-bullet-threading-width: 2px; // in log-seq dev theme
  --ls-block-bullet-active-color: #{$blue_dark6}; // in log-seq dev theme
  --bf-hard-shadow-color: #1d1d1d;
}

/* *****************************
********* White Theme ***********
*******************************/

.white-theme,
html[data-theme="light"] {
  // main text
  --ls-primary-text-color: #2b2926;

  // main background (linear gradient)
  --ls-primary-background-color: #fff;
  --ls-secondary-background-color: #f8f8f8;
  --ls-tertiary-background-color: #efefef;
  --ls-quaternary-background-color: #e8e8e8;

  // block bg
  --ls-page-properties-background-color: var(--ls-secondary-background-color);
  --ls-block-properties-background-color: var(--ls-page-properties-background-color);
  --ls-callout-background-color: var(--ls-page-properties-background-color);
  --bf-codeblock-background-color: #f7f6f3;
  --ls-table-tr-even-background-color: #0000000a;

  // borders
  --ls-border-color: #d4d4d4;

  // accent color (link, hover)
  --ls-link-ref-text-color: #{$blue_light4};
  --ls-link-ref-text-hover-color: #{$blue_light6};
  --ls-active-primary-color: #{$blue_light4};
  --ls-active-secondary-color: #{$blue_light6};
  --bf-external-link-color: #ea6e6e;
  --bf-external-link-hover-color: #e6515e;
  --ls-link-text-color: var(--ls-link-ref-text-color);
  --ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);
  --ls-alink-color: var(--ls-link-text-color);
  --ls-cloze-text-color: var(--ls-link-ref-text-color);

  // tags
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --bf-tag-background-color: #{$blue_light5};
  --bf-tag-background-hover-color: #{$blue_light1};

  // query builder
  --bf-query-clause-border-color: #{$blue_light1};
  --bf-query-clause-background-color: #8fc3ff15;
  --bf-query-clause-background-hover-color: #8fc3ff33;

  // guildline
  --ls-block-bullet-border-color: #dedede85;
  --ls-block-bullet-color: #00000018;
  --ls-guideline-color: rgba(62, 62, 63, 0.08);

  // markdown content
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-checkbox-color: #{$blue_light2};
  --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);

  // ui
  --ls-icon-color: #919191;
  --ls-header-button-text-color: #999999;
  --ls-header-button-text-color-hover: var(--ls-primary-text-color);
  --ls-header-button-background: var(--ls-secondary-background-color);
  --ls-left-sidebar-text-color: var(--ls-primary-text-color);
  --ls-button-background-hsl: 211.96 83.97% 53.53%; // $blue_light5

  // ui --ls-menu-chosen-color
  --ls-a-chosen-bg: #0007100f;

  // ui - scrollbar
  --ls-scrollbar-foreground-color: #00000014;
  --ls-scrollbar-background-color: #fff0;
  --bf-scrollbar-thumb-hover-color: #8a8a8a61;

  // misc
  --ls-title-text-color: #303537;

  // right sidebar, cmdk, and accent color-level-4……
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);

  // Not in default theme.
  --ls-block-bullet-threading-width: 2px; // in log-seq dev theme
  --ls-block-bullet-active-color: #6ea7eead; // in log-seq dev theme
  --bf-hard-shadow-color: var(--ls-block-bullet-border-color);
}
