/* ****************************
************** Root ***********
*******************************/

:root {
  --ls-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  // --ls-main-content-max-width: 840px;
  --ls-tag-text-opacity: 0.6;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 1em;
  --ls-page-title-size: 36px;
}

/* *****************************
********* Dark Theme ***********
*******************************/

.dark-theme,
html[data-theme="dark"] {
  --ls-primary-background-color: rgb(32, 33, 36);
  --ls-secondary-background-color: rgb(39, 40, 43);
  --ls-tertiary-background-color: rgb(46, 48, 51);
  --ls-quaternary-background-color: rgb(54, 56, 59);
  --ls-table-tr-even-background-color: #adadad1c;
  --ls-callout-background-color: rgba(69, 75, 78, 0.3);
  --bf-codeblock-background-color: rgb(49, 53, 56);
  --ls-block-properties-background-color: #33363891;
  --ls-block-ref-link-text-color: #73d2f6;
  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #3f3f3f;
  --ls-menu-hover-color: #36383b;
  --ls-primary-text-color: #ccc;
  --ls-secondary-text-color: #aaa;
  --bf-strong-text-color: #dddddd;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-ref-text-color: #88c1fb;
  --ls-link-ref-text-hover-color: #afd6ff;
  --ls-link-text-color: var(--ls-link-ref-text-color);
  --ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);
  --ls-alink-color: var(--ls-link-text-color);
  --bf-external-link-color: #f67373;
  --bf-external-link-hover-color: #f29191;
  --ls-cloze-text-color: var(--ls-link-ref-text-color);
  --ls-active-primary-color: var(--ls-link-ref-text-color);
  --ls-active-secondary-color: #6fc2efcc;
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --bf-tag-background-color: #3f74ae;
  --bf-tag-background-hover-color: #5f97c0;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #ffffff14;
  --ls-block-bullet-color: #ffffff25;
  --ls-guideline-color: #ffffff14;
  --ls-block-highlight-color: #3e3e41;
  --ls-selection-background-color: #3e3e41;
  --ls-page-checkbox-color: #5c94ce;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-inline-code-color: #eb5757;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-properties-background-color: #2f3033;
  --ls-scrollbar-foreground-color: #8a8a8a3d;
  --ls-scrollbar-background-color: #fff0;
  --bf-scrollbar-thumb-hover-color: #8a8a8a61;
  --ls-head-text-color: #ffe27c;
  --ls-icon-color: #767676;
  --ls-search-icon-color: var(--ls-quaternary-background-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  // Not in default theme.
  --ls-block-bullet-threading-width: 2px; // in log-seq dev theme
  --ls-block-bullet-active-color: #4a99b9; // in log-seq dev theme
  --bf-hard-shadow-color: #1d1d1d;
}

/* *****************************
********* White Theme ***********
*******************************/

.white-theme,
html[data-theme="light"] {
  --ls-primary-background-color: #fff;
  --ls-secondary-background-color: #f8f8f8;
  --ls-tertiary-background-color: #f2f2f3;
  --ls-quaternary-background-color: #ebeaea;
  --ls-search-background-color: #fff;
  --bf-codeblock-background-color: rgb(247, 246, 243);
  --ls-table-tr-even-background-color: #0000000a;
  --ls-callout-background-color: rgba(235, 236, 237, 0.3);
  --ls-active-primary-color: rgb(64, 150, 213);
  --ls-active-secondary-color: rgb(46, 118, 170);
  --ls-block-properties-background-color: #f5f5f5;
  --ls-block-bullet-border-color: #dedede85;
  --ls-block-bullet-color: #00000018;
  --ls-guideline-color: rgba(62, 62, 63, 0.08);
  --ls-primary-text-color: #2b2926;
  --ls-title-text-color: #303537;
  --ls-link-ref-text-color: #3d88ce;
  --ls-link-ref-text-hover-color: #1a6cbf;
  --ls-link-text-color: var(--ls-link-ref-text-color);
  --ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);
  --bf-external-link-color: rgb(234, 110, 110);
  --bf-external-link-hover-color: #e6515e;
  --ls-cloze-text-color: var(--ls-link-ref-text-color);
  --ls-alink-color: var(--ls-link-text-color);
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --bf-tag-background-color: #2883df;
  --bf-tag-background-hover-color: #84bdf4;
  --ls-icon-color: #919191;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-checkbox-color: #8ebce6;
  --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
  --ls-page-properties-background-color: #f6f6f6;
  --ls-scrollbar-foreground-color: #00000014;
  --ls-scrollbar-background-color: #fff0;
  --bf-scrollbar-thumb-hover-color: #8a8a8a61;
  --color-level-1: rgba(236, 236, 236, 0.3);
  --color-level-2: #f3f3f3;
  --color-level-3: #eaeaea;
  --color-level-4: #ddd;
  // Not in default theme.
  --ls-block-bullet-threading-width: 2px; // in log-seq dev theme
  --ls-block-bullet-active-color: #6ea7eead; // in log-seq dev theme
  --bf-hard-shadow-color: #e6e6e6;
}
