/*****************************************
  Dark Theme
*****************************************/

.dark-theme {
  // Global
  ::selection {
    background: var(--ls-block-highlight-color);
  }
  #app-single-container ::selection {
    background: var(--ls-selection-background-color);
  }
  // Area
  // #main-content-container {
  //   .cp__sidebar-main-content:before {
  //     background: linear-gradient(to bottom, rgba(24, 24, 24, 0.7) 0%, rgba(24, 24, 24, 0) 100%);
  //   }
  // }
  #left-bar {
    .close-panel-btn {
      color: var(--ls-primary-text-color);
      opacity: 0.6;
    }
  }
  .cp__header {
    a:hover {
      background-color: #3e4144;
    }
    .cp__header-left-menu {
      color: var(--ls-primary-text-color);
      opacity: 0.6;
    }
  }

  .left-sidebar-inner {
    a {
      color: var(--ls-primary-text-color);
      :hover {
        color: #fff;
      }
    }
  }

  .menulink {
    background-color: var(--ls-secondary-background-color);
  }

  .cp__right-sidebar {
    .sidebar-item-list {
      background-color: var(--ls-secondary-background-color,#d8e1e8);
      .sidebar-item{
        background-color: var(--ls-secondary-background-color,#d8e1e8);
        border-bottom: 2px solid #484d52;
      }
    }
  }
  .content {
    a {
      &.tag {
        opacity: 0.83;
        &:hover {
          opacity: 1;
        }
      }
    }
    b,
    strong {
      font-weight: bolder;
      // color: #beedff;
      color: #fff;
    }
    mark {
      background: #524b25;
      color: var(--ls-primary-text-color);
    }
    .external-link {
      border-bottom: 0.05em solid rgba(255, 255, 255, 0.4);
    }
    .block-ref {
      background: #1f535878;
      border-bottom-color: #53d2d280;
    }
    .marker-switch {
      color: var(--ls-primary-text-color);
      background: #545454;
      &:hover {
        background: #6e6e6e;
      }
    }
    svg.add-button>.circle {
      fill: var(--ls-block-bullet-color,#394b59);
    }
  }
}
