/*****************************************
  White Theme
*****************************************/

.white-theme {
  .cp__header {
    color: var(--ls-primary-text-color);
    a:hover {
      background-color: #f1f1f1;
    }
  }
  #left-bar {
    nav > a,
    svg {
      color: var(--ls-priamary-text-color);
    }
    #repo-name {
      opacity: 1;
      height: 22px;
      transform: translateY(-1px);
    }
  }
  .content {
    .external-link {
      border-bottom: 0.05em solid rgba(55, 53, 47, 0.25);
    }
    .block-ref {
      background: rgba(40, 142, 111, 0.1);
      border-bottom-color: rgba(40, 142, 111, 0.3);
    }
    .marker-switch {
      color: #504d47;
      background: #f3f2ed;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
    table {
      th {
        background-color: #efefef;
      }
    }
  }

  .cp__right-sidebar {
    .cp__right-sidebar-topbar {
      .cp__right-sidebar-settings {
        .cp__right-sidebar-settings-btn {
          color: #7b7b7b;
          &:hover {
            background-color: #e6e6e6;
          }
        }
      }
    }
    .sidebar-item-list {
      background-color: var(--ls-secondary-background-color,#d8e1e8);
      .sidebar-item{
        background-color: var(--ls-secondary-background-color,#d8e1e8);
        border-bottom: 2px solid #e6e6e6;
      }
    }
  }
}
