/*****************************************
  Dark Theme
*****************************************/

html[data-theme=dark] {

  .left-sidebar-inner {
    a.item {
      color: var(--ls-primary-text-color);
    }
  }

  .cp__right-sidebar {
    .block-properties.page-properties {
      --ls-page-properties-background-color: #363739;
    }
  }
  .content {
    b,
    strong {
      font-weight: bolder;
      color: var(--bf-strong-text-color);
    }
    a {
      &.tag {
        opacity: 0.83;
        &:hover {
          opacity: 1;
        }
      }
      &.external-link {
        b,
        strong {
          color: var(--bf-external-link-color);
          &:hover {
            color: var(--bf-external-link-hover-color);
          }
        }
      }
    }

    mark {
      background: #524b25;
      color: var(--ls-primary-text-color);
    }
    .external-link {
      border-bottom: 0.05em solid rgba(255, 255, 255, 0.4);
    }

    .block-ref {
      background: #1f535878;
      border-bottom-color: #53d2d280;
    }
    .marker-switch {
      color: var(--ls-primary-text-color);
      background: #444;
      &:hover {
        opacity: 1;
      }
    }
    svg.add-button > .circle {
      fill: var(--ls-block-bullet-color, #394b59);
    }
  }

  // Fix color scale in dark mode;
  .menu-links-wrapper,
  .ui__modal-panel,
  .menu-link {
    background-color: var(--ls-secondary-background-color);
  }

  .menu-link:hover,
  .menu-link.chosen {
    background-color: var(--ls-menu-hover-color);
  }

  .ui__modal-overlay div {
    background: var(--ls-primary-background-color);
  }
}
